body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.image1{
  float:left;
  margin-right: 40px;
  margin-top:10px;
  height:25%;
  width:25%;
}
.image2{
  float:right;
  clear:left;
  margin-left:40px;
  margin-bottom:10px;
  height:25%;
  width:25%;
}
